.h-container{
    background-color: $header-color; 
    max-width: 100%;
    
    margin: $margin-center;


    .grip-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      padding: 3px;
      width: 1200px;
      margin: 0 auto;

      .item-1{
        
        background-color: white;

        .h-01 {
          font-size: 2.2em;
          color: $h1-color;
          width: 340px;
       }
      

      }
    
      .item-2{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;

        .right {
          background-image: url('.//img/b-flecha-right.png'); 
          background-size: 26px 26px;
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          margin-right:9px;
          border: 2px solid rgb(231, 230, 230);
          background-color: $button-right-color;
          cursor: pointer;

          &:hover {
            background-image: url('.//img/w-flecha-right.png'); 
            background-color: $button-hover-right-color;
            border: 2px solid rgb(255, 127, 23);
          }
       
        }

      
        .left {
          background-image: url('./img/w-flecha-left.png');
          background-size: 26px 26px;
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          margin-right: 6px;
          border: 2px solid rgb(255, 127, 23);
          background-color: $button-left-color;
          cursor: pointer;

          &:hover {
            background-color: $button-left-hover-color;
            border: 2px solid rgb(231, 230, 230);
            background-image: url('.//img/b-flecha-left.png'); 
          }
      
        }

    }
    
      
  }

}





