$header-color: rgb(255, 255, 255);

$h1-color: black;

$button-right-color: white;
$button-hover-right-color: orangered; 

$button-left-color: orangered;
$button-left-hover-color: white;

$width-website: 1190px; 
$margin-center: 0 auto;

